.hero_project {
    background-color: var(--overlay);
    color: #fff;
    height: 100vh;
    width: 100%;
    position: relative;
}

.hero_project:before {
    content: '';
    /* background:no-repeat center center/cover; */
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("../../../assets/images/home\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero_project .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1100px;
    margin: auto;
    padding: 1rem;
}

.par_one{
    position: relative;
    text-align: center;
    height: 240px;
     /* width: 812px; */
     /* right: 509px; */
    border-radius: none;
    top: -80px !important;
    color: #fff;
    font-size: 34px !important;
    font-weight: 600;
    }

    .request{
        position: relative;
        /* margin-left: 30px; */
        font-size: 30px;
        text-align: center;
        top: auto;
    }
   .logo{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -20%);
   } 

 .request .span-reg{
            height: 63px;
            width: 347px;
             /* left: 40px; */
            top: 70px;
            border: 1px none;
            border-radius: 20px 0 0 20px;
            padding: 10px;
            position: relative;
            background: #FBBFBF9E;

        }   

  .request .btn-reg{
            height: 43px;
            width: 184px;
             /* left: 40px; */
            top: 70px;
            border: none;
            border-radius: 0 20px 20px 0;
            padding: 10px;
            position: relative;
            background: #53FB18;

        }      


@media screen and (max-width: 400px) {
    
    .par_one{
            top: auto;
            position: relative;
            font-size: 24px;
            top: -50px !important;
        }
        .logo{
            transform: translate(-50%, -35%);
        }

        .request{
            width: auto;
             /* height: 43px; */
            /* margin-left: 5px; */
            /* margin-right: 2px; */
            position: relative;
            /* top: -30px; */
            font-family: "OverpassRegular";
            /* padding: 10px; */

            
        }

        .request .span-reg{
                position: relative;
                top: auto;
                width: auto;
                height: 43px;
            }

          .request  .btn-reg{
                position: relative;
                top: auto;
                width: auto;
                /* height: auto; */
            }
}